[submodule "dot2hdl"]
	path = dot2hdl
	url = https://github.com/madhur19171/dot2hdl.git
[submodule "verilog-vcd-parser"]
	path = verilog-vcd-parser
	url = https://github.com/madhur19171/verilog-vcd-parser
